.weblinklogos {
    width: 100%;
    position: relative;
}
	
	.weblinklogos ul.weblink_items {
		list-style: none;
		margin: 0;
	    padding: 0;
	}

		.weblinklogos ul.weblink_items li.weblink_item {
		    list-style: none;
			padding: 0;
		    display: inline-block;
		    text-align: initial;
		}
		
		.weblinklogos ul.weblink_items.list li.weblink_item {
		    display: block;
		    overflow: hidden;  
		}
		
			.weblinklogos ul.weblink_items li .weblink_item_wrapper {
				overflow: hidden;
				position: relative;
		    	-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box;
			}
			
			.weblinklogos ul.weblink_items.list li .weblink_item_wrapper {
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
			}

				.weblinklogos ul.weblink_items li .logo {
				    text-align: center;
					margin: 0 auto;
				}
				
				html[dir="rtl"] .weblinklogos ul.weblink_items.list li .logo {
				    -webkit-box-orient: horizontal;
					-webkit-box-direction: reverse;
					-ms-flex-direction: row-reverse;
					flex-direction: row-reverse;
				}
				
					.weblinklogos ul.weblink_items li .logo_link {
						position: relative;

						display: -webkit-box;
						display: -ms-flexbox;
						display: flex;
						
						-webkit-box-pack: center;
        				-ms-flex-pack: center;
            			justify-content: center;
					}
	
						.weblinklogos ul.weblink_items li .logo_link a {
							display: inline-block;
							position: relative;
							font-size: 0;
						}
	
							.weblinklogos ul.weblink_items li .logo_link a img {
								max-height: 100%;
								border: 0;
							}
							
							.weblinklogos ul.weblink_items li .logo_link.smooth a img {
								-webkit-transition: opacity .4s ease; transition: opacity .4s ease;
							}
							
							.weblinklogos ul.weblink_items li .logo_link a img.original {
								opacity: 1; filter: alpha(opacity=100);
							}
							
							.weblinklogos ul.weblink_items li .logo_link a img.hover {
								opacity: 0; filter: alpha(opacity=0); 
								z-index: 2;
							}
							
							.weblinklogos ul.weblink_items li .logo_link a:hover img.hover,
							.weblinklogos ul.weblink_items li .logo_link a:focus img.hover {
								opacity: 1; filter: alpha(opacity=100);
							}
							
							.weblinklogos ul.weblink_items li .logo_link a:hover img.original,
							.weblinklogos ul.weblink_items li .logo_link a:focus img.original {
								opacity: 0; filter: alpha(opacity=0);
							}
	
				.weblinklogos ul.weblink_items li .description {
					text-align: left;
				}
				
				html[dir="rtl"] .weblinklogos ul.weblink_items li .description {
					text-align: right;
				}
				
				.weblinklogos ul.weblink_items.list li .description {
					-webkit-box-flex: 1;
					-ms-flex: 1;
					flex: 1;
				}
	
					.weblinklogos ul.weblink_items li .title {
						margin-top: 0;
						word-wrap: normal;
					}
					
					.weblinklogos ul.weblink_items li .hits {
						display: inline-block;
					}

	.weblinklogos .weblinks_footnote {
		display: inline-block;
		font-size: .6em;
		line-height: 1em;
		clear: both;
	}